{% extends 'base.html' %}
 {% load static %} 
 
 {% block content %}
 <div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Page Header Start -->
    <div  class="container-fluid page-header mb-5 p-0" style="background-image: url('{% static "img/carousel-1.jpg" %}');">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Reservation </h1>
                <nav aria-label="breadcrumb">
                    <!-- <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                    </ol> -->
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
<!-- Booking Start -->
     
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Room Reservation</h6>
            <h1 class="mb-5">Reserve A <span class="text-primary text-uppercase">Luxury Room</span></h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/about-5.jpg' %}" style="margin-top: 25%';">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/about-6.jpg' %}">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/about-7.jpg' %}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/about-8.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form method="post" action="{% url 'booking' %}">
                        {% csrf_token %}
                      
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" name="surname" class="form-control" id="surname" placeholder="Your Surname">
                                    <label for="surname">Surname</label>
                                </div>
                            </div>


                            <div class='col-md-6'>
                                <div class="form-group">
                                    <div class="input-group date" id="checkin" data-target-input="nearest">
                                        <input type="date" name="check_in" placeholder="Check In" class="form-control " data-target="#checkin" onchange="handleDateChange()"/>
                                        <div class="input-group-append" data-target="#checkin" data-toggle="datetimepicker">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <div class="form-group">
                                    <div class="input-group date" id="checkout" data-target-input="nearest">
                                        <input type="date" name="check_out" placeholder="Check Out" class="form-control " data-target="#checkout" onchange="handleDateChange()"/>
                                        <div class="input-group-append" data-target="#checkout" data-toggle="datetimepicker">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select name="num_guests" class="form-select" id="number">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                    <label for="number">Number of Guests</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select name="room" class="form-select" id="available-rooms">
                                        <option value=""></option>
                                    </select>
                                    <label for="available-rooms">Available Rooms</label>
                                </div>
                            </div>
                            <input type="price" hidden name="price2"  id="price2" >

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="price" name="price" class="form-control" id="price" placeholder="Price" readonly>
                                    <label for="price">Total Amount</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea name="special_request" class="form-control" placeholder="Special Request" id="special_request" style="height: 100px"></textarea>
                                    <label for="special_request">Special Request</label>
                                </div>
                            <!-- </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY"></div>
                                    {% if form.errors.captcha %}
                                        <p class="text-danger">{{ form.errors.captcha }}</p>
                                    {% endif %}
                                </div> -->
                            </div>
                    
                        <div class="my-3"></div>
                    
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <button class="btn btn-primary w-100 py-3" type="submit">Reserve Room</button>
                            </div>
                            <div class="col-md-6">
                                <!-- Additional content if needed -->
                            </div>
                        </div>
                    </form>                    
    </div>
</div>
    </div>
</div>
     
    </div>
</div>

<!-- Include Google reCAPTCHA script -->
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->

<!-- Newsletter Start -->
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div class="col-lg-10 border rounded p-1">
            <div class="border rounded text-center p-1">
                <div class="bg-white rounded text-center p-5">
                    <h4 class="mb-4">Subscribe Our <span class="text-primary text-uppercase">Newsletter</span></h4>
                    <form method="post" action="{% url 'booking' %}">
                        {% csrf_token %}
                        
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input name="email" class="form-control w-100 py-3 ps-4 pe-5" type="email" placeholder="Enter your email">
                        
                            <button type="submit" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                        </div>
                        {% if success_message %}
            <div class="success-message" style="color: rgb(243, 169, 9);">{{ success_message }}</div>
            {% endif %}
                    </form>                        
                </div>
                
            </div>
            
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // Function to fetch available rooms based on check-in and check-out dates
        function getAvailableRooms() {
            var checkIn = $('input[name="check_in"]').val();
            var checkOut = $('input[name="check_out"]').val();
    
            var checkInDate = new Date(checkIn);
            var checkOutDate = new Date(checkOut);
    
            if (checkOutDate <= checkInDate) {
                alert('Check-out date must be after check-in date');
                return;
            }
    
            var today = new Date();
            if (checkInDate < today || checkOutDate < today) {
                alert('Dates cannot be in the past');
                return;
            }
    
            // Make AJAX request to fetch available rooms
            $.ajax({
                url: '{% url "check_available_rooms" %}', // Replace with your Django URL
                type: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                contentType: 'application/json',
                data: JSON.stringify({ check_in: checkIn, check_out: checkOut }),
                success: function(data) {
                    var roomSelect = $('#available-rooms');
                    roomSelect.empty(); // Clear current options
    
                    $.each(data.rooms, function(index, room) {
                        var option = $('<option></option>')
                            .attr('value', room.id)
                            .attr('data-price', room.price) // Store room price as data attribute
                            .text(room.name);
                        roomSelect.append(option);
                    });
    
                    // Trigger change event manually to update price based on initial room selection
                    roomSelect.change(); // Changed to roomSelect.change() from $('#available-rooms').change();
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
    
        // Function to handle number of guests change
        function handleNumberChange() {
            var numGuests = parseInt($('#number').val());
            var roomPrice = parseFloat($('#available-rooms option:selected').data('price'));
            var checkInDate = new Date($('input[name="check_in"]').val()); // Corrected to use input[name="check_in"]
            var checkOutDate = new Date($('input[name="check_out"]').val()); // Corrected to use input[name="check_out"]
            var days = calculateNumberOfDays(checkInDate, checkOutDate);
            var totalPrice = calculateTotalPrice(roomPrice, numGuests, days);
    
            var totalPriceFormatted = '$' + totalPrice.toFixed(2); // Format with dollar sign
            $('#price').val(totalPriceFormatted); // Display price with dollar sign
        }
    
        // Function to handle room selection change
        function handleRoomChange() {
            var selectedRoomPrice = parseFloat($('#available-rooms option:selected').data('price'));
            var numGuests = parseInt($('#number').val());
            var checkInDate = new Date($('input[name="check_in"]').val()); // Corrected to use input[name="check_in"]
            var checkOutDate = new Date($('input[name="check_out"]').val()); // Corrected to use input[name="check_out"]
            var days = calculateNumberOfDays(checkInDate, checkOutDate);
            var totalPrice = calculateTotalPrice(selectedRoomPrice, numGuests, days);
    
            var totalPriceFormatted = '$' + totalPrice.toFixed(2); // Format with dollar sign
            $('#price').val(totalPriceFormatted); // Display price with dollar sign
        }
    
        // Function to calculate total price including additional amount based on conditions
        function calculateTotalPrice(roomPrice, numGuests, days) {
            var additionalAmount = calculateAdditionalAmount(roomPrice, numGuests);
            var totalPrice = (roomPrice + additionalAmount) * days; // Multiply by days
            return totalPrice;
        }
    
        // Function to calculate additional amount based on conditions
        function calculateAdditionalAmount(roomPrice, numGuests) {
            var additionalAmount = 0;
            var roomName = $('#available-rooms option:selected').text().trim();
    
            // Add logic for additional amount based on room or guest conditions if needed
            if (roomName !== 'Room no.1 - Standard Single Room' 
                && roomName !== 'Room no.5 - Standard Single Room' 
                && roomName !== 'Room no.6 - Standard Single Room' 
                && roomName !== 'Room no.15 - Deluxe Single Room') {
                
                if (roomName === 'Room no.7 - Standard Twin Room' && numGuests === 2) {
                    additionalAmount = 11;
                } else if (roomPrice === 40 && numGuests === 2) {
                    additionalAmount = 6;
                } else if (roomPrice === 35 && numGuests === 2) {
                    additionalAmount = 5;
                }
            }
    
            return additionalAmount;
        }
    
        // Function to calculate number of days between two dates
        function calculateNumberOfDays(checkInDate, checkOutDate) {
            // Calculate the difference in milliseconds
            var differenceMs = checkOutDate.getTime() - checkInDate.getTime();
            // Convert milliseconds to days
            var days = Math.ceil(differenceMs / (1000 * 60 * 60 * 24));
            return days;
        }
    
        // Event listeners
        $('input[name="check_in"]').on('change', getAvailableRooms);
        $('input[name="check_out"]').on('change', getAvailableRooms);
        $('#number').on('change', handleNumberChange);
        $('#available-rooms').on('change', handleRoomChange);
    
        // Initial load: Fetch available rooms based on default dates (if any)
        getAvailableRooms();
    });
</script>


    
{% comment %}     
    <script>
        $('input[name="check_in"]').change(getAvailableRooms());
    </script> {% endcomment %}

     <!-- validate checkout dates -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}