{% extends 'base.html' %}
 {% load static %} 
 
 {% block content %}
 <style>
    .text-body {
        text-align: justify;  /* Justify text to create straight edges */
        text-justify: inter-word; /* Ensure justification between words */
        max-width: 100%;  /* Limit the maximum width */
        overflow-wrap: break-word; /* Wrap long words */
    }
</style>

 <div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Page Header Start -->
    <div  class="container-fluid page-header mb-5 p-0" style="background-image: url('{% static "img/carousel-1.jpg" %}');">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
                <nav aria-label="breadcrumb">
                    <!-- <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                    </ol> -->
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    
        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Our Services</h6>
                    <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Services</span></h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="service-item rounded" href="#">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-glass-cheers fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Bar and Restaurant</h5>
                            <p class="text-body mb-0">Offers a wide range of local and international cuisine for breakfast, lunch and evening meals and fully stocked bar
                                with beers, wines, and spirits to ensure great customer satisfaction. Room service is also available
                                on request at 1 USD each time. </p>
                            <a href="path_to_your_pdf_file.pdf" class="text-decoration-none ms-2" download>Food Menu download pdf</a>
                        </a>
                        <div class="text-center mt-4">
                            <!-- <a href="path_to_your_pdf_file.pdf" class="btn btn-primary rounded-pill" download>Download PDF</a> -->
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <a class="service-item rounded" href="#">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-150 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-dumbbell fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Laundry Services</h5>
                            <p class="text-body mb-0">We offer guest washing and ironing services for a small cost payable directly to staff. Let us take
                                the hustle out of your travels. Please ensure you complete your inventory sheet before giving away
                                your clothing items to ensure we deliver you a service with full peace of mind.</p>
                            <a href="path_to_your_pdf_file.pdf" class="text-decoration-none ms-2" download>Inventory sheet download</a>
                        </a>
                        <div class="text-center mt-4">
                            
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="service-item rounded" href="#">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-hotel fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Airport Shuttle</h5>
                            <p class="text-body mb-0">We can arrange Airport collection and drop off for an additional cost with one of our independent
                                partners (Cost USD 30 or TSH equivalent).</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Service End -->


  <!-- Newsletter Start -->
  <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div class="col-lg-10 border rounded p-1">
            <div class="border rounded text-center p-1">
                <div class="bg-white rounded text-center p-5">
                    <h4 class="mb-4">Subscribe Our <span class="text-primary text-uppercase">Newsletter</span></h4>
                    <form id="subscriber-form" method="post" action="{% url 'contact' %}">
                        {% csrf_token %}
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input name="email" class="form-control w-100 py-3 ps-4 pe-5" type="email" placeholder="Enter your email">
                            <button type="submit" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                        </div>
                        <div class="form-error" id="email-subscriber-error"></div>
                        <div class="success-message" id="subscriber-success" style="color: rgb(243, 169, 9);"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#contact-form').submit(function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            dataType: 'json',
            success: function(response) {
                if (response.success_message_contact) {
                    $('#contact-success').text(response.success_message_contact);
                }
                // Handle other success scenarios or clear form fields
            },
            error: function(response) {
                // Handle errors or validation errors
                if (response.status === 400 && response.responseJSON && response.responseJSON.errors) {
                    // Display validation errors
                    // Example assuming you have a div with id 'contact-errors'
                    $('#contact-errors').text('Error: ' + Object.values(response.responseJSON.errors).join(', '));
                }
            }
        });
    });

    $('#subscriber-form').submit(function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            dataType: 'json',
            success: function(response) {
                if (response.success_message_services) {
                    $('#subscriber-success').text(response.success_message_services);
                }
                // Handle other success scenarios or clear form fields
            },
            error: function(response) {
                // Handle errors or validation errors
                if (response.status === 400 && response.responseJSON && response.responseJSON.errors) {
                    // Display validation errors
                    // Example assuming you have a div with id 'subscriber-errors'
                    $('#subscriber-errors').text('Error: ' + Object.values(response.responseJSON.errors).join(', '));
                }
            }
        });
    });
});
</script>
{% endblock %}
